/**********************************/
/* GIMP dark theme css file       */
/* Copyright 2018, Ben Touchette  */
/* Licensed GPL v3                */
/**********************************/

/**********/
/* COLORS */
/**********/
@define-color color_0001 rgba(240, 240, 240, 0.999);
@define-color color_0002 #101010;
@define-color color_0003 rgba(135, 135, 135, 127);
@define-color color_0004 #494339;
@define-color color_0005 rgba(34, 34, 34, 0.45);
@define-color color_0006 rgba(212, 212, 212, 0.55);
@define-color color_0007 rgba(187, 187, 187, 0.55);
@define-color color_0008 rgba(0, 0, 0, 0.8);
@define-color color_0009 rgba(230, 230, 230, 0.9);
@define-color color_0010 rgba(230, 230, 230, 0.8);
@define-color color_0011 rgba(224, 224, 224, 27);
@define-color color_0012 rgba(5, 5, 5, 0.5);
@define-color color_0013 rgba(0, 0, 0, 0.6);
@define-color color_0014 rgba(48, 48, 48, 0.2);
@define-color color_0015 rgba(44, 44, 44, 0.45);
@define-color color_0016 transparent;
@define-color color_0017 #A1A1A1;
@define-color color_0018 #B7B7B7;
@define-color color_0019 #EEE;
@define-color color_0020 #e27242;
@define-color color_0021 #888;
@define-color color_0022 #CCC;
@define-color color_0023 #E1E1E1;
@define-color color_0024 #858585;
@define-color color_0025 #757575;
@define-color color_0026 #D8D8D8;
@define-color color_0027 #CFCFCF;
@define-color color_0028 #DFDFDF;
@define-color color_0029 #C8C8C8;
@define-color color_0030 #9F9F9F;
@define-color color_0031 #C22;
@define-color color_0032 #F22;
@define-color color_0033 #2C2;
@define-color color_0034 #2F2;
@define-color color_0035 #C7C7C7;
@define-color color_0036 #C3C3C3;
@define-color color_0037 #AAA;
@define-color color_0038 #999;
@define-color color_0039 #222;
@define-color color_0040 #111;
@define-color color_0041 #FD5239;
@define-color color_0042 #BBB;
@define-color color_0043 rgba(105,105,105,0.1);
@define-color color_0044 rgba(105,105,105,0.05);
@define-color color_0045 rgba(55,55,55,0.1);
@define-color color_0046 rgba(55,55,55,0.05);
@define-color color_0047 rgba(240, 240, 240, 0.7);
@define-color color_0048 rgba(160, 160, 160, 0.4);
@define-color color_0049 rgba(190, 190, 190, 0.5);
@define-color color_0050 rgba(190, 190, 190, 0.9);
@define-color color_0051 rgba(115, 115, 115, 0.7);
@define-color color_0052 rgba(115, 115, 115, 0.9);
@define-color color_0053 rgba(160, 160, 160, 0.9);
@define-color color_0054 rgba(205, 205, 205, 0.9);
@define-color color_0055 rgba(238,238,238, 0.9);
@define-color color_0056 rgba(102,102,102, 0.9);
@define-color color_0057 rgba(255, 255, 255, 0.5);
@define-color color_0058 rgba(215, 215, 215, 0.25);
@define-color color_0059 rgba(5, 5, 5, 0.6);
@define-color color_0060 rgba(255, 255, 255, 0.9);
@define-color color_0061 rgba(0, 0, 0, 0.4);
@define-color color_0062 rgba(255, 255, 255, 0.6);
@define-color color_0063 black;
@define-color color_0064 white;
@define-color color_0066 #FFF;


/*******/
/* ALL */
/*******/
* {
    -gtk-icon-style:symbolic;
    -GimpDockWindow-default-height:300;
    -GimpMenuDock-minimal-width:200;
    -GimpDockWindow-menu-preview-size:button;
    -GimpToolPalette-tool-icon-size:button;
    -GimpToolPalette-button-relief:none;
    -GimpDockbook-tab-icon-size:button;
    -GimpColorNotebook-tab-icon-size:button;
    -GimpDeviceEditor-handle-size:10;
    -GimpDockable-content-border:2;
    -GimpEditor-content-spacing:2;
    -GimpEditor-button-spacing:2;
    -GimpEditor-button-icon-size:menu;
    -GimpDataEditor-minimal-height:96;
    -GtkDialog-content-area-border:0;
    -GtkDialog-button-spacing:6;
    -GtkDialog-action-area-border:10;
    -GimpUnitComboBox-appears-as-list:0;
    -GtkToolButton-icon-spacing:2;
    -GtkTextView-error-underline-color:@color_0041;
    -GtkScrolledWindow-scrollbar-spacing:0;
    -GtkToolItemGroup-expander-size:11;
    -GtkWidget-text-handle-width:20;
    -GtkWidget-text-handle-height:20;
    -GtkDialog-button-spacing:2;
    -GtkDialog-action-area-border:0;
    -gtk-outline-radius:2px;
    background-clip:padding-box;
    outline-color: alpha(currentColor,0.3);
    outline-color: @color_0016;
    outline-style: dashed;
    outline-offset: -3px;
    outline-width: 1px;
    border-color: alpha(@color_0064, 0.5);
}
GimpToolDialog {
    -GtkDialog-action-area-border:4;
}
GimpColorNotebook tab {
    padding:0 0 0 0;
}
GimpColorScales spinbutton button {
    padding:0 0 0 0;
}
GimpColorScales spinbutton entry {
    min-height:0;
}
GimpDock {
    font-size:smaller;
}
GimpDock notebook tab {
    padding:0 0 0 0;
}
GimpDock spinbutton button {
    padding:0 0 0 0;
}
GimpDock spinbutton entry {
    min-height:0;
}
GimpDockable {
    -GimpFrame-label-bold:0;
    -GimpFrame-label-spacing:2;
}
GimpDisplayShell grid>button {
    min-height:0;
    min-width:0;
    padding:0 0 0 0;
}
GimpDisplayShell statusbar {
    min-height:3em;
}
GimpDisplayShell combobox entry {
    font-size:smaller;
}
GimpDisplayShell combobox button {
    font-size:smaller;
}
GimpDisplayShell progressbar text {
    font-size:larger;
}
GimpDisplayShell progressbar trough,
GimpDisplayShell progressbar progress {
    min-height:1em;
}
GimpRuler {
    font-size:smaller;
}
entry.italic {
    font-style:italic;
}
headerbar,
.titlebar:not(headerar) {
  box-shadow: none;
}

grid,
.grid {
    color:@color_0063;
    background-color: @color_0001;
}
.background {
    color: @color_0002;
    background-color: @color_0001;
}
*:disabled {
    -gtk-icon-effect:dim;
}
.view,
.view text,
iconview,
iconview text,
textview text {
    color:@color_0002;
    background-color:@color_0027;
}
/* start - influences preferences page
           label, icon, and background */
.view:selected label,
.view:selected:focus label {
    border-radius:3px;
    color: @color_0064;
    background-color: @color_0017;
}
.view:selected image,
.view:selected:focus image {
    border-radius:3px;
    color: @color_0064;
    background-color: @color_0017;
}
.view:selected,
.view:selected:focus {
    border-radius:3px;
    color: @color_0064;
    background-color: @color_0017;
}
/* end */
.view text:selected,
.view text:selected:focus {
    border-radius:2px;
    background-color: @color_0042;
}
iconview:selected,
iconview:selected:focus,
iconview text:selected,
iconview text:selected:focus {
    border-radius:2px;
}
textview text:selected,
textview text:selected:focus {
    border-radius:2px;
}
/*********/
/* ENTRY */
/*********/
entry {
    min-height:22px;
    border:1px solid;
    padding:2px 8px;
    caret-color:currentColor;
    border-radius:0;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color:@color_0002;
    border-color:@color_0018;
    background-color: alpha(@color_0019, 0.9);
    background-image: none;
    border: 0;
    border-radius: 0;
}
entry:focus,
entry:active {
    background-clip:border-box;
    color:@color_0002;
    border-radius: 0;
    background-color: alpha(@color_0064, 0.87);
    border: 0;
    border-color: @color_0016;
    box-shadow:inset 1px 0 @color_0020, inset -1px 0 @color_0020, inset 0 1px @color_0020, inset 0 -1px @color_0020;
}
entry:disabled {
    color:@color_0005;
    border-color:@color_0006;
    background-color:@color_0007;
    border-radius: 0;
}
entry selection {
    background-color:@color_0008;
    color:@color_0009;
    border-radius: 0;
}
entry selection:disabled,
entry selection:backdrop:disabled {
    background-color:@color_0010;
}
entry progress {
    margin:0 -7px;
    border-radius:0;
    border-width:0 0 2px;
    border-color:@color_0042;
    border-style:solid;
    background-image: none;
    background-color:@color_0042;
    box-shadow: none;
}
entry:disabled progress {
    margin:0 -7px;
    border-radius:0;
    border-width:0 0 2px;
    border-color:@color_0011;
    border-style:solid;
    background-image: none;
    background-color:@color_0011;
    box-shadow: none;
}
/************/
/* TREEVIEW */
/************/
treeview.view > image,
treeview.view > .image {
    color: @color_0063;
}
treeview.view {
    padding: 2px;
    border-radius: 0;
}
treeview.view:hover {
    background-color:@color_0028;
    border-radius: 0;
}
treeview.view:selected,
treeview.view:selected:focus {
    color: @color_0063;
    background-color:@color_0028;
    border-radius: 0;
}
treeview.view:selected:hover,
treeview.view:selected:focus:hover {
    color: @color_0063;
    background-color:@color_0019;
    border-radius: 0;
}
treeview.view:selected:focus {
    background-color:@color_0019;
    border-radius: 0;
}
treeview.view:selected:focus:hover {
    background-color:#EEE;
}
treeview.view.expander {
    -gtk-icon-source:-gtk-icontheme("pan-end-symbolic");
    color:@color_0002;
}
treeview.view.expander:hover {
    color:@color_0003;
}
treeview.view.expander:selected {
    color:@color_0002;
}
treeview.view.expander:selected:hover {
    color:@color_0003;
}
treeview.view.expander:checked {
    -gtk-icon-source:-gtk-icontheme("pan-down-symbolic");
}
treeview.view:disabled {
    color:@color_0012;
    border-radius: 0;
}
treeview.view header {
    border: 1px solid;
    border-color: @color_0001;
    margin: 0;
    padding: 0;
}
treeview.view header button {
    min-height:1px;
    min-width:1px;
    padding:3px 6px;
    margin-left: 0px;
    margin-right: 2px;
    font-weight:bold;
    color:@color_0004;
    background-color:@color_0001;
    border-style:none solid none none;
    border-radius:0;
    border-image:  linear-gradient(to bottom, @color_0001 20%, @color_0013 20%, @color_0013 80%, @color_0001 80%) 0 1 0 0/0 1px 0 0 stretch;
    box-shadow: none;
}
treeview.view header button:nth-child(last) {
    min-height:1px;
    min-width:1px;
    padding:3px 6px;
    margin-left: 0px;
    margin-right: 2px;
    font-weight:bold;
    color:@color_0004;
    background-color:@color_0001;
    border-style:none solid none none;
    border-radius: 0;
    border-color: @color_0016;
    border-image: none;
    box-shadow: none;
}
/*************/
/* SCROLLBAR */
/*************/
scrollbar {
    background: none;
    background-image: none;
    border-image: none;
    min-width: 2px;
    min-height: 2px;
    background-color: alpha(@color_0022, 0.4);
    transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin: 0px;
    padding: 0px;
}
scrollbar.top {
    border-bottom: 1px solid @color_0019;
}
scrollbar.bottom {
    border-top: 1px solid @color_0019;
}
scrollbar.left {
    border-right: 1px solid @color_0019;
}
scrollbar.right {
    border-left: 1px solid @color_0019;
}
scrollbar:backdrop {
    background-color: @color_0022;
    border-color: @color_0019;
    transition: 200ms ease-out;
}
scrollbar slider {
    min-width: 6px;
    min-height: 6px;
    border: 2px solid @color_0016;
    border-radius: 9px;
    background-color: @color_0024;
}
scrollbar.vertical slider {
    margin: 3px 0px;
}
scrollbar.horizontal slider {
    margin: 0px 3px;
}
scrollbar slider:hover {
    background-color: @color_0025;
}
scrollbar slider:hover:active {
    background-color: @color_0025;
}
scrollbar slider:disabled {
    background-color: @color_0016;
}
/******************/
/* MENU ITEMS BAR */
/******************/
menubar,
.menubar {
    -GtkWidget-window-dragging:true;
    padding:0px;
    background-color:@color_0001;
    color:@color_0002;
    background-image: none;
    border-image: none;
    background-image: none;
}
menubar:backdrop,
.menubar:backdrop {
    background-color: @color_0012;
}
menubar > menuitem,
.menubar > menuitem {
    padding:4px 8px;
    border:solid @color_0016;
    border:0;
    background-image: none;
    border-image: none;
    border-radius: 0;
    box-shadow: none;
}
menubar > menuitem:hover,
.menubar > menuitem:hover {
    background-color:@color_0019;
    color:@color_0002;
    border: 0;
    border-radius: 0;
    border-image: none;
    background-image: none;
    box-shadow: none;
}
menubar > menuitem:disabled,
.menubar > .menuitem:disabled {
    color:@color_0014;
    border-color:@color_0016;
    border: 0;
    border-image: none;
    background-image: none;
    box-shadow: none;
}
menubar > menuitem:active,
.menubar > .menuitem:active {
    border-color:@color_0016;
    border: 0;
    border-image: none;
    background-image: none;
    box-shadow: none;
}
menubar > menuitem:checked,
.menubar > .menuitem:checked {
    border-color:@color_0016;
    border: 0;
    border-image: none;
    background-image: none;
    box-shadow: none;
}
menu,
.menu {
    margin:4px;
    padding:0;
    border-radius:0;
    background-color:@color_0001;
    background-image: none;
    text-shadow: none;
    border: 0;
}
menu separator,
.menu separator {
    margin:2px 0;
    background-color:@color_0022;
    box-shadow: none;
    border: 0;
}
menu .separator:not(label),
.menu .separator:not(label) {
    color:@color_0022;
}
menu menuitem,
.menu menuitem {
    min-height:16px;
    min-width:40px;
    padding:5px;
    background-image: none;
    text-shadow: none;
    border: 0;
}
menu menuitem:hover,
.menu menuitem:hover {
    color:@color_0002;
    background-color:@color_0026;
    text-shadow: none;
    background-image: none;
    border: 0;
}
menu menuitem:disabled,
.menu menuitem:disabled {
    color:@color_0015;
    text-shadow: none;
    border: 0;
}
menu menuitem arrow,
.menu menuitem arrow {
    min-height:16px;
    min-width:16px;
    -gtk-icon-source:-gtk-icontheme("pan-end-symbolic");
    margin-left:10px;
}
menuitem accelerator {
    color:alpha(currentColor,0.55);
}
menuitem check,
menuitem .radio:hover,
menuitem radio {
    min-height:16px;
    min-width:16px;
    margin-right:6px;
    margin-left:2px;
    background-image: none;
    outline-color: @color_0016;
}
menuitem check:hover,
menuitem .radio:hover,
menuitem radio:hover {
    border-color: @color_0012;
}
menu button:hover,
menu button:checked,
menu button:checked:disabled,
menu button:disabled,
menu button {
    background-image: none;
}
/*****************/
/* CHECK BUTTONS */
/*****************/
.check,
check {
    -gtk-icon-source:-gtk-scaled(url("assets/checkbox-unchecked-dark.png"), url("assets/checkbox-un checked-dark@2.png"));
    background-image: none;
    outline-color: @color_0016;
    border-image: none;
    border: 1px solid alpha(@color_0063, 0.4);
    border-radius: 4px;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    transition: none;
}
.check:active,
check:active {
    background-image: none;
    outline-color: @color_0016;
    border-image: none;
    border: 1px solid alpha(@color_0063, 0.4);
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    transition: none;
}
.check:checked,
check:checked {
    -gtk-icon-source:-gtk-scaled(url("assets/checkbox-checked-dark.png"), url("assets/checkbox-checked-dark@2.png"));
    background-image: none;
    outline-color: @color_0016;
    border-image: none;
    border: 1px solid alpha(@color_0063, 0.4);
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    transition: none;
}
.check:disabled,
check:disabled {
    -gtk-icon-source:-gtk-scaled(url("assets/checkbox-unchecked-insensitive-dark.png"), url("assets/checkbox-unchecked-insensitive-dark@2.png"));
    background-image: none;
    outline-color: @color_0016;
    border-image: none;
    border: 1px solid alpha(@color_0063, 0.4);
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    transition: none;
}
checkbutton {
    border: 1px solid;
    border-radius: 3px;
    padding: 1px 4px 1px 4px;
    border-color: @color_0016;
}
/*****************/
/* RADIO BUTTONS */
/*****************/
.radio,
radio {
    -gtk-icon-source:-gtk-scaled(url("assets/radio-unchecked-dark.png"), url("assets/radio-unchecked-dark@2.png"));
    background-image: none;
    outline-color: @color_0016;
    border: 1px solid alpha(@color_0063, 0.4);
    border-radius: 50%;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}
.radio:active,
radio:active {
    background-image: none;
    outline-color: @color_0016;
    border-image: none;
    border: 1px solid alpha(@color_0063, 0.4);
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}
.radio:checked,
radio:checked {
    -gtk-icon-source:-gtk-scaled(url("assets/radio-checked-dark.png"), url("assets/radio-checked-dark@2.png"));
    background-image: none;
    outline-color: @color_0016;
    border: 1px solid alpha(@color_0063, 0.4);
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}
.radio:disabled,
radio:disabled {
    -gtk-icon-source:-gtk-scaled(url("assets/radio-unchecked-insensitive-dark.png"), url("assets/radio-unchecked-insensitive-dark@2.png"));
    background-image: none;
    outline-color: @color_0016;
    border: 1px solid alpha(@color_0063, 0.4);
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}
radiobutton {
    border: 1px solid;
    border-radius: 3px;
    padding: 1px 4px 1px 4px;
    border-color: @color_0016;
}
* > button.radio {
    border-radius: 3px;
    border-color: transparent;
}
/*************/
/* SEPARATOR */
/*************/
separator.wide {
    min-width:4px;
    min-height:4px;
    background-color:@color_0043;
    background-image:linear-gradient(to bottom, @color_0044, @color_0044), linear-gradient(to bottom, @color_0044, @color_0044);
    background-size:1px 1px, 1px 1px;
    box-shadow: none;
    border: 0;
}
separator.wide:hover {
    background-color:@color_0045;
    background-image:linear-gradient(to bottom, @color_0046, @color_0046), linear-gradient(to bottom, @color_0046, @color_0046);
    box-shadow: none;
    border: 0;
}
/***********/
/* BUTTONS */
/***********/
button {
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color:@color_0063;
    border-color:@color_0016;
    background-color:@color_0037;
    background-image: none;
    border-image: none;
    box-shadow: none;
}
button:hover {
    min-height:22px;
    min-width:20px;
    padding:4px 6px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    color:@color_0063;
    border-color:@color_0016;
    background-color:@color_0042;
    background-image: none;
    border-image: none;
    box-shadow: none;
}
button:disabled {
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color: alpha(@color_0002, 0.3);
    border-color:@color_0016;
    background-color:@color_0029;
    background-image: none;
    border-image: none;
    box-shadow: none;
}
button:active,
button:checked {
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color: alpha(@color_0002, 0.9);
    border-color:@color_0016;
    background-color:@color_0030;
    background-image: none;
    border-image: none;
    box-shadow: none;
}
button.suggested-action:not(:disabled) {
    color: @color_0066;
    background-color:@color_0033;
    background-image: none;
    border-image: none;
    box-shadow: none;
}
button.suggested-action:not(:disabled):hover {
    background-color:@color_0034;
    background-image: none;
    border-image: none;
    box-shadow: none;
}
button.destructive-action:not(:disabled) {
    color: @color_0066;
    background-color:@color_0031;
    background-image: none;
    border-image: none;
    box-shadow: none;
}
button.destructive-action:not(:disabled):hover {
    background-color:@color_0032;
    background-image: none;
    border-image: none;
    box-shadow: none;
}
/************/
/* NOTEBOOK */
/************/
notebook {
    padding:0;
    border:0;
    background-color:@color_0001;
}
notebook > stack:not(:only-child) {
    background-color:@color_0001;
    border: 1px solid;
    border-color:@color_0001;
}
notebook > header {
    border: 1px solid;
    border-color: @color_0016;
    background-color:@color_0001;
    background-image: none;
}
notebook > stack:not(:only-child) {
    background-color: @color_0028;
}
notebook > header {
    padding: 2px;
    background-color: alpha(@color_0022, 0.5);
}
notebook > header > tabs {
    border:0;
    padding:0;
    background-color:@color_0047;
}
notebook > header > tabs > tab  {
    padding:0;
    margin: 0;
    border: 0;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color:@color_0048;
    color: alpha(@color_0002, 0.5);
    background-color: @color_0049;
    padding-left:3px;
    padding-right:3px;
    min-width:24px;
    min-height:24px;
    border-radius:0;
    box-shadow: none;
    outline-color: @color_0016;
}
notebook > header > tabs > tab:nth-child(last) {
    padding:0;
    margin: 0;
    border: 0;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color:@color_0048;
    color: alpha(@color_0002, 0.5);
    background-color: @color_0049;
    padding-left:3px;
    padding-right:3px;
    min-width:24px;
    min-height:24px;
    border-radius:0;
    box-shadow: none;
    outline-color: @color_0016;
}
notebook > header > tabs > tab:hover {
    color: alpha(@color_0002, 0.73);
    background-color:@color_0050;
    border: 0;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color:@color_0051;
    padding-left:3px;
    padding-right:3px;
    min-width:24px;
    min-height:24px;
    border-radius:0;
    box-shadow: none;
    outline-color: @color_0016;
}
notebook > header > tabs > tab:checked:hover,
notebook > header > tabs > tab:active:hover {
    color: alpha(@color_0002, 0.9);
    border: 0;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color:@color_0052;
    padding-left:3px;
    padding-right:3px;
    min-width:24px;
    min-height:24px;
    border-radius:0;
    box-shadow: none;
    outline-color: @color_0016;
}
notebook > header > tabs > tab:checked,
notebook > header > tabs > tab:active {
    color: alpha(@color_0002, 0.9);
    border: 0;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color:@color_0053;
    padding-left:3px;
    padding-right:3px;
    min-width:24px;
    min-height:24px;
    border-radius:0;
    box-shadow: none;
    outline-color: @color_0016;
    background-color: @color_0001;
}
notebook button {
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: alpha(@color_0002, 0.9);
    border-color:@color_0016;
    background-color: @color_0016;
}
notebook .radio {
    border-color: @color_0001;
    background-color: alpha(@color_0039, 0.25);
    border-radius: 3px;
}
notebook button:hover {
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color:@color_0002;
    border-color: @color_0016;
    background-color: @color_0054;
}
notebook button:disabled *,
notebook button:disabled {
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: alpha(@color_0002, 0.3);
    border-color:@color_0016;
    background-color: @color_0016;
}
/****************/
/* TOOL BUTTONS */
/****************/
toolbutton > button {
    min-height:18px;
    min-width:18px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:0px;
    padding:1px 1px;
    color:@color_0002;
    border-color: @color_0001;
    background-color:@color_0001;
    outline-color: @color_0016;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    border-image: none;
    -gtk-icon-shadow: none;
}
toolbutton > .radio {
    border-radius: 0%;
    border-color: @color_0001;
}
toolbutton >  .radio:checked {
    border-radius: 0%;
    border-color: @color_0001;
}
toolbutton >  .radio:hover {
    border-radius: 0%;
    border-color: @color_0001;
}
toolbutton > button:hover,
toolbutton > button:checked {
    min-height:18px;
    min-width:18px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:1px 1px;
    color:@color_0002;
    background-color:@color_0035;
    background-image: none;
    box-shadow: none;
    border-color: @color_0016;
    border-image: none;
    -gtk-icon-shadow: none;
}
toolbutton > button:checked:hover {
    min-height:18px;
    min-width:18px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:1px 1px;
    color:@color_0002;
    border-color:@color_0035;
    background-color:@color_0036;
    background-image: none;
    box-shadow: none;
    border-image: none;
}
/**************/
/* HEADER BAR */
/**************/
headerbar {
    -GtkWidget-window-dragging:true;
    padding:4px;
    color: @color_0063;
    border: 0;
    border-color:@color_0016;
    background-color:@color_0028;
    background-image:none;
}
headerbar button {
    background-image:none;
    border-radius:0px;
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color:@color_0063;
    border-color:@color_0016;
    background-color:@color_0037;
    background-image:none;
}
headerbar button:hover {
    background-image:none;
    border-radius:0px;
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color:@color_0063;
    border-color:@color_0016;
    background-color:@color_0042;
    background-image:none;
}
headerbar button:active,
headerbar button:checked {
    background-image:none;
    border-radius:0px;
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color:@color_0063;
    border-color:@color_0016;
    background-color:@color_0038;
    background-image:none;
}
headerbar button.suggested-action:not(:disabled) {
    background-image:none;
    border-radius:0px;
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color:@color_0063;
    border-color:@color_0016;
    background-color:@color_0033;
    background-image:none;
}
headerbar button.suggested-action:not(:disabled):hover {
    color: @color_0063;
    background-color:@color_0034;
    background-image:none;
}
headerbar button.destructive-action:not(:disabled) {
    background-image:none;
    border-radius:0px;
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color:@color_0063;
    border-color:@color_0016;
    background-color:@color_0031;
    background-image:none;
}
headerbar button.destructive-action:not(:disabled):hover {
    color: @color_0063;
    background-color:@color_0032;
    background-image:none;
}
/****************/
/* PROGRESS BAR */
/****************/
progressbar {
    padding:0;
    font-size:smaller;
    min-width:6px;
    min-height:6px;
    background-color: @color_0055;
    background-image:none;
}
progressbar progress {
    border:none;
    border-radius:3px;
    padding:1px;
    box-shadow:none;
    background-color:@color_0056;
    background-image:none;
}
progressbar trough {
    border:none;
    border-radius:3px;
    background-color:@color_0055;
    min-width:6px;
    min-height:6px;
    padding:1px;
    background-image:none;
}
/*********/
/* SCALE */
/*********/
scale trough {
    outline-offset:2px;
    -gtk-outline-radius:4.5px;
    border-radius:2.5px;
    background-color:@color_0057;
    background-image: none;
}
scale trough:disabled {
    background-color:@color_0058;
    background-image: none;
}
scale highlight {
    border-radius:2.5px;
    background-color:@color_0059;
    background-image: none;
}
scale slider {
    background-color:@color_0038;
    border:1px solid @color_0019;
    border-radius:100%;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-property:background, border;
    background-image: none;
}
/************/
/* TOOLTIPS */
/************/
tooltip label {
    background-image: none;
    color:@color_0063;
    padding: 6px;
}
tooltip {
    background-image: none;
    padding: 4px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: none;
    text-shadow: 0 1px @color_0064;
}
tooltip.background {
    background-image: none;
    background-color: @color_0060;
    background-clip: padding-box;
    border: 1px solid @color_0061;
}
tooltip decoration {
    background-image: none;
    background-color: @color_0016;
}
tooltip * {
    background-image: none;
    background-color: @color_0016;
    color: @color_0063;
}
/**********/
/* LABELS */
/**********/
label {
    border-radius: 0;
    border-width: 0 ;
    border-image: none;
    background-image: none;
    background-color: @color_0016;
    text-shadow:none;
    font-weight: normal;
}
label:disabled {
    color: alpha(@color_0063, 0.55);
}
menuitem label:disabled {
    border-radius: 0;
    border-width: 0 ;
    border-image: none;
    background-image: none;
    background-color: @color_0016;
    text-shadow: -1px -1px 1px @color_0062;
}
/**************/
/* SPINBUTTON */
/**************/
spinbutton {
    min-width: 22px;
    min-height: 22px;
    padding: 0;
    margin: 0;
    color: @color_0002;
    background-color: @color_0064;
    background-image: none;
    border-image: none;
    border: 0;
    border: 1px solid @color_0016;
    border-radius: 0px;
    box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border-image: none;
    -gtk-icon-shadow: none;
    background-color: @color_0038;
}
spinbutton:disabled {
    color: alpha(@color_0039, 0.5);
    background-color: @color_0019;
}
spinbutton  entry {
    background-color: alpha(@color_0019, 0.9);
}
spinbutton:disabled  entry {
    background-color: @color_0019;
}
spinbutton entry:focus {
    background-color: @color_0064;
}
spinbutton entry:active {
    background-color: @color_0064;
}
spinbutton button {
    min-width: 22px;
    min-height: 22px;
    padding: 0;
    margin: 0;
    border: 1px solid @color_0064;
    border-right: 1px solid @color_0064;
    border-top: 1px solid @color_0064;
    border-bottom: 1px solid @color_0064;
    border-radius: 0px;
    box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border-image: none;
    -gtk-icon-shadow: none;
    background-color: alpha(@color_0064, 0.5);
    border-color: @color_0022;
}
spinbutton button:hover {
    min-width: 22px;
    min-height: 22px;
    padding: 0;
    margin: 0;
    border: 1px solid alpha(@color_0063, 0.5);
    border-radius: 0px;
    box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border-image: none;
    -gtk-icon-shadow: none;
    background-color: alpha(@color_0064, 0.7);
}
spinbutton button:active {
    min-width: 22px;
    min-height: 22px;
    padding: 0;
    margin: 0;
    border: 1px solid alpha(@color_0063, 0.5);
    border-radius: 0px;
    box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border-image: none;
    -gtk-icon-shadow: none;
    background-color: alpha(@color_0064, 0.7);
}
spinbutton button:disabled {
    min-width: 22px;
    min-height: 22px;
    padding: 0;
    margin: 0;
    border: 1px solid @color_0016;
    border-radius: 0px;
    box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border-image: none;
    -gtk-icon-shadow: none;
    background-color: alpha(@color_0064, 0.7);
    border-color: @color_0022;
}
spinbutton button:checked {
    min-width: 22px;
    min-height: 22px;
    padding: 0;
    margin: 0;
    border: 1px solid alpha(@color_0063, 0.5);
    border-radius: 0px;
    box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border-image: none;
    -gtk-icon-shadow: none;
    background-color: alpha(@color_0064, 0.7);
}
/******************/
/* COMBOBOX ARROW */
/******************/
arrow {
    min-height: 16px;
    min-width: 16px;
    color: @color_0002;
}
combobox arrow {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
/************/
/* COMBOBOX */
/************/
combobox button {
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color: alpha(@color_0063, 0.9);
    border-color:@color_0016;
    background-color:@color_0027;
    background-image: none;
    border-image: none;
    box-shadow: none;
    text-shadow: none;
}
combobox button:hover {
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color:@color_0063;
    border-color:@color_0016;
    background-color:@color_0028;
    background-image: none;
    border-image: none;
    box-shadow: none;
    text-shadow: none;
}
combobox button:disabled {
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color: alpha(@color_0002, 0.3);
    border-color:@color_0016;
    background-color:@color_0029;
    background-image: none;
    border-image: none;
    box-shadow: none;
    text-shadow: none;
}
combobox button:active, button:checked {
    min-height:22px;
    min-width:20px;
    transition:all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border:1px solid;
    border-radius:3px;
    padding:4px 6px;
    color: alpha(@color_0002, 0.9);
    border-color:@color_0016;
    background-color:@color_0030;
    background-image: none;
    border-image: none;
    box-shadow: none;
    text-shadow: none;
}
combobox button.suggested-action:not(:disabled) {
    color:@color_0063;
    background-color:@color_0033;
    background-image: none;
    border-image: none;
    box-shadow: none;
    text-shadow: none;
}
combobox button.suggested-action:not(:disabled):hover {
    background-color:@color_0034;
    background-image: none;
    border-image: none;
    box-shadow: none;
    text-shadow: none;
}
/**********/
/* TROUGH */
/**********/
.trough *,
trough *,
trough row,
trough row:hover,
trough row:selected,
trough row:selected:focus {
    background-image: none;
    border-image: none;
    background-color: alpha(@color_0019, 0.2);
    border-style: solid;
    border-width: 1px;
}
.trough.vertical,
trough.vertical {
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (@color_0039),
                                     to (@color_0040));
}

/************/
/* LIST ROW */
/************/
list {
    min-height: 30px;
    background-color: @color_0022;
}
list row {
    padding: 0px;
}
row:not(:hover) {
    transition: all 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-color: @color_0022;
}
row:hover {
    background-color: @color_0064;
}
row.activatable.has-open-popup,
row.activatable:hover {
    background-color: @color_0028;
    color: @color_0002;
}
row.activatable:hover image {
    background-color: @color_0028;
}
row.activatable:selected {
    color: @color_0063;
    background-color: @color_0028;
}
row.activatable:selected image {
    color: @color_0063;
    background-color: @color_0028;
}
row.activatable:selected.has-open-popup {
    background-color: @color_0061;
}
row.activatable:selected.has-open-popup image {
    background-color: @color_0061;
}
row.activatable:selected:hover {
    color: @color_0063;
    background-color:@color_0019;
}
row.activatable:selected:hover image {
    color: @color_0063;
    background-color:@color_0019;
}
/***************/
/* PRINTDIALOG */
/***************/
printdialog paper {
    border: 1px solid @color_0019;
    background: @color_0039;
    padding: 0;
}
printdialog .dialog-action-box {
    margin: 12px;
}
/***************/
/* FILECHOOSER */
/***************/
filechooser * {
    color: @color_0063;
    border-radius: 0;
}
filechooser button {
    border: 1px solid;
    border-color: alpha(@color_0064, 0.2);
}
filechooser header {
    background: @color_0001;
}
filechooser treeview.view,
filechooser treeview.view:hover {
    border-radius: 0;
}
filechooser treeview.view:hover {
    background-color: @color_0028;
}
filechooser treeview.view:active,
filechooser treeview.view:active:hover {
    border-radius: 0;
}
filechooser row:selected {
    border-radius: 0;
}
filechooser treeview.view:selected,
filechooser treeview.view:selected:hover {
    border-radius: 0;
}
filechooser treeview.view:checked,
filechooser treeview.view:checked:hover {
    border-radius: 0;
}
filechooser treeview.view:disabled,
filechooser treeview.view:disabled:hover {
    border-radius: 0;
}
filechooser treeview.view:focus,
filechooser treeview.view:focus:hover {
    border-radius: 0;
    background-color:@color_0028;
}
filechooser treeview.view:disabled:selected,
filechooser treeview.view:disabled:selected:hover {
    border-radius: 0;
    background-color:@color_0028;
}
filechooser treeview.view:selected,
filechooser treeview.view:selected:focus {
    border-radius: 0;
    background-color:@color_0028;
}
filechooser treeview.view:selected:hover,
filechooser treeview.view:selected:focus:hover {
    color: @color_0063;
    border-radius: 0;
    background-color:@color_0019;
}
filechooser treeview.view header button {
    margin-right: 0px;
    background: @color_0001;
}
filechooser separator {
    background: @color_0001;
}
filechooser treeview.view header button:nth-child(last) {
    margin-right: 0px;
    background: @color_0001;
}
filechooser list row {
    color: @color_0039;
}
filechooser list row image {
    color: @color_0063;
    background: @color_0016;
}
filechooser list row button {
    border: 0;
    background: @color_0016;
}
filechooser list row button:hover {
    border: 0;
    background: @color_0016;
}
filechooser list row button:focus {
    border: 0;
    background: @color_0016;
}
filechooser {
    background-color: @color_0001;
}
filechooser actionbar {
    background-color: @color_0001;
    border-color: @color_0001;
}
